<section class="ui raised segment">
    <h3 class="ui header">Categories</h3>
    <div class="ui grid">

        <article class="eighteen wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {{#each categorys}}
                    <tr>
                        <td> {{Name}} </td>


                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>

