<section class="ui raised segment">
    <h3 class="ui header">Manage Categories </h3>
    <div class="ui grid">

        <article class="eighteen wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                    <th>Edit</th>

                </tr>
                </thead>
                <tbody>
                {{#each categorys}}

                    <tr>
                        <td> {{Name}} </td>







                        <td><div class="ui item"><a href="/category/deleteCategory/{{_id}}" class="ui icon button"><i class="icon trash"></i>
                        </a>
                        </td>
                        <td><div class="ui item"><a href="/category/showCategorySettings/{{_id}}" class="ui icon button"><i class="edit icon"></i>
                        </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>


