<nav class="ui inverted menu">
    <header class="header item"> Famous Irish Landmarks - My Landmarks </header>

    <a class="right menu">
        <a class="item" href="/createlandmark"> Create a Landmark</a>
        <a class="item" href="/categoryreport"> Categories</a>
        <a class="item" href="/report"> My Landmarks</a>
        <a class="item" href="/managelandmarks"> All Landmarks</a>
        <a class="item" href="/logout"> Logout</a>
        </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>
